@charset "UTF-8";

@import "./reset.less";
@import "./variables.less";
@import "./mixins.less";
@import "./submit.less";

html, body {
    font-size: 14px;
    .ant-message-notice:first-child {
        margin-top: 36px;
    }
}
.caption-loop(@n, @i: 1) when (@i <= @n) {
    @font-size: "font-size-h@{i}";
    h@{i} {
        font-weight: @font-weight-bold;
        font-size: @@font-size;
    }
    .caption-loop(@n, (@i + 1));
}
.caption-loop(6);

.tranistion-wrapper {
    position: relative;
}
.router-container {
    position: absolute;
    width: 100%;
    margin-left: clac(100vw - 100%);
}
.route-enter {
    opacity: 0;
}
.route-enter.route-enter-active {
    opacity: 1;
    transition: opacity .5s cubic-bezier(1,-0.34, 0, 1.08);
    transition-delay: 100ms;
}
.route-leave {
    opacity: 0.1;
}
.route-leave.route-leave-active {
    opacity: 0;
    transition: all 100ms;
}
.add-team {
    margin-bottom: 1rem;
    padding-right: 1rem;
    text-align: right;
}
.team-name {
    .ant-input-group {
        float: right;
        width: 75%;
        margin-right: 3rem;
    }
    label {
        width: 5rem;
        margin-right: 0.5rem;
        font-size: 1rem;
        font-weight: bold;
        display: inline-block;
        text-align: right;
    }
    &-item {
        margin-top: 1rem;
        .lh-equal-h(2rem);
    }
}
.handles {
    a {
        margin-right: 1rem;
    }
}
.option-loading {
    text-align: center;
}
